:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1, h2, h3 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2em;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  
}

/* guaranteeing size of img 
  we have to find a way to uniform the height too
*/
.image {
  max-width: 400px;
  min-width: 400px;
  border-radius: 20px;
  
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4c546f;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}